## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

## IDE files to ignore
bootstrap.sublime-workspace
nbproject/
.idea/
*.tmproj
.buildpath
.project
.settings/

# envvars
bin/envvars

app/cache/*
app/logs/*
vendor/*
web/bundles/
web/css/*
web/js/*
web/media/*


# to have the possibility to have an own htaccess e.g. with protection (as on prod)
web/.htaccess


# ignore parameters so everone can have its own
app/config/parameters.yml
bin/post-composer.sh
